{% extends 'base.html' %} {% block content %}

<form class="form-group col-4" action="" method="POST">
    {% csrf_token %} {% if messages %}

    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </ul>

    {% endif %} {% csrf_token %}
    <div class="form-group">
        <label for="signin-email" class="control-label sr-only">Username</label>
        <input type="text" class="form-control" id="signin-email" placeholder="Username" name="username">
    </div>
    <div class="form-group">
        <label for="signin-password" class="control-label sr-only">Password</label>
        <input type="password" class="form-control" id="signin-password" placeholder="Password" name="password">
    </div>
    <div class="form-group clearfix">
        <input type="submit" class="btn btn-primary" value="Login">
</form>

{% endblock %}